.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all;
  transition-duration: 250ms;
  transition-timing-function: $transition-function;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: calc(100% - 30px);
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: $primary-white-color;
  transition: all;
  transition-duration: 250ms;
  transition-timing-function: $transition-function;
  @media (min-width: 1200px) {
    max-width: 528px;
    transform: translate(-50%, -50%) scale(1) rotate(0);
  }
  &__button {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    padding: 9px;
    background-color: transparent;
    border: 1px solid silver;
    border-radius: 47px;
    cursor: pointer;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: $transition-function;
    &:hover,
    &:focus {
      fill: $hover-color;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $titles-color;
    margin-bottom: 2px;
  }
  &__form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $primary-text-color;
    margin-bottom: 4px;
    margin-top: 10px;
  }
  &__input-wrapper {
    position: relative;
  }
  &__input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: $transition-function;
    &:focus {
      border: 1px solid #2196f3;
    }
    &:disabled {
      border-color: rgba(33, 33, 33, 0.2);
    }
  }
  &__input-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &__input:disabled + &__input-icon {
    fill: lightgray;
  }
  &__input:focus + &__input-icon {
    fill: $hover-color;
  }
  &__form-textarea {
    margin-bottom: 20px;
  }
  &__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    transition: border-color;
    transition-duration: 250ms;
    transition-timing-function: $transition-function;
    &:focus {
      border-color: $hover-color;
    }
  }
  &__form-checkbox {
    margin-bottom: 30px;
  }
  &__checkbox {
    appearance: none;
  }
  &__checkbox-label {
    position: relative;
    // padding-left: 7px;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    cursor: pointer;
    @media (min-width: 468px) {
      font-size: 14px;
      line-height: 24px;
    }
  }
  &__checkbox-link {
    color: $hover-color;
    text-decoration: underline;
  }
  &__checkbox:checked + &__icon {
    border-color: transparent;
    background-color: #188ce8;
    background-image: url("../images/checkbox.svg");
    background-size: contain;
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    flex-shrink: 0;
    margin-left: 10px;
    border: 2px solid #212121;
    border-radius: 4px;
  }
  &__form-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-align: start;
    text-transform: none;
    color: #757575;
  }
  &__form-button {
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    padding: 10px 52px;
    background-color: $hover-color;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    transition: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $transition-function;
    cursor: pointer;
    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
